name: glass_like_surface_example
description: Example app for the glass_like_surface package.
publish_to: 'none'

version: 0.1.0

environment:
  sdk: ">=2.19.0 <4.0.0"
  flutter: ">=3.16.0"

dependencies:
  flutter:
    sdk: flutter
  glass_like_surface:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
